.overview {
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
}

.top {
    margin-bottom: 30px;
}

.top h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.top p {
    color: #666;
    font-size: 14px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.box {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
}

.box h3 {
    font-size: 15px;
    color: #555;
}

.number {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.users {
    border-left: 6px solid #3b82f6;
}

.cars {
    border-left: 6px solid #10b981;
}

.bookings {
    border-left: 6px solid #f59e0b;
}

.revenue {
    border-left: 6px solid #ef4444;
}

.tableSection {
    background: #ffffff;
    padding: 20px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
    margin-top: 50px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.searchInput {
    padding: 8px 12px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline: none;
}

.searchInput:focus {
    border-color: #2563eb;
}

.bookingTable {
    width: 100%;
    border-collapse: collapse;
}

.bookingTable th {
    text-align: left;
    padding: 12px;
    background-color: #f1f5f9;
    font-size: 14px;
    color: #475569;
}

.bookingTable td {
    padding: 12px;
    font-size: 14px;
    color: #334155;
    border-bottom: 1px solid #e2e8f0;
}

.status {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.status.active {
    background-color: #dbeafe;
    color: #2563eb;
}

.status.completed {
    background-color: #dcfce7;
    color: #16a34a;
}

.status.cancelled {
    background-color: #fee2e2;
    color: #dc2626;
}

.viewBtn {
    padding: 6px 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.viewBtn:hover {
    background-color: #1d4ed8;
}